*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100vw;
    height: 100vh;
    /* background-color: wheat; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-1{
    width: 35%;
    height: 75%;
    border-radius: 5px;
    border: 1px solid #b2bec3;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    height: 30%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading img{
    height:33%;
    width: 25%;
}
.heading h1{
    color: rgb(87, 86, 86);
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}
.heading h3{
    color: rgb(109, 109, 109);
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.Singin-first{
    height: 25%;
    width: 100%;
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.signin-sec{
    height: 18%;
    width: 84%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.signin-sec a{
    text-decoration: none;
    font-size: 0.9rem;
    color:rgb(80, 80, 252);
}

.signin-sec p{
    font-size: 0.85rem;
}


.signin-3rd{
    height: 20%;
    width: 85%;
    /* border: 2px solid blue; */
    display: flex ;
    justify-content: space-between;
    align-items: center;
}

.signin-3rd a{
    text-decoration: none;
    font-size: 0.9rem;
    color:rgb(80, 80, 252);
    font-weight: 300;
}
